# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build output
dist/
build/
lib/

# Test coverage
coverage/

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional test coverage directory
.nyc_output/

**/settings/Mainnet.toml
**/settings/Testnet.toml
.cache/**
history.txt
